@font-face {
  font-family: GilroyBold;
  src: url(assets/Fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: GilroyRegular;
  src: url(assets/Fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: GilroySemiBold;
  src: url(assets/Fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: FontOne;
  src: url(assets/Fonts/KFOlCnqEu92Fr1MmEU9fBBc4.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GilroyRegular;
}

html,
body {
  width: 100%;
  height: 100vh;
}

#main {
  /* border: 1px solid lime; */
  width: 100%;
  min-height: 100vh;
}
nav {
  background: #111;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
  padding: 0vw 10vw;
}

nav img {
  width: 3vw;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: GilroyBold;
}

.right-nav {
  /* border: 1px solid lightpink; */
  display: flex;
  gap: 2vw;
}

/* PART 1 */

.part-1 {
  width: 100%;
  /* border: 1px solid red; */
  height: 80vh;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.5vh;
}

.part-1 h1 {
  margin-top: -10vh;
  font-size: 7vw;
  font-family: GilroyBold;
  text-align: center;
}

.part-1 p {
  font-size: 1.5vw;
  font-family: GilroyBold;
  text-align: center;
}

.part-1 button {
  padding: 1vw 3vw;
  font-size: 1.2vw;
  border: 1px solid #111;
  border-radius: 50px;
  font-family: GilroyBold;
  background-color: #fff;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.part-1 button:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

/* PART 2 */
.part-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* border: 1px solid lightcoral; */
  background-image: url(/assets/IMG/video-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.part-2 img {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#imgthree {
  position: absolute;
  bottom: -50vh;
  z-index: 5;
}

#imgtwo,
#imgfour {
  position: absolute;
  z-index: 4;
  bottom: -50vh;
}

#imgtwo {
  left: 25%;
}

#imgfour {
  right: 25%;
}

#imgone,
#imgfive {
  position: absolute;
  bottom: -50vh;
}

#imgone {
  left: 10%;
}

#imgfive {
  right: 10%;
}

/* PART 3 */
.part-same {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 0vw 10vw;
  color: #fff;
}

.part-3 {
  background-image: url(/assets/IMG/deserve-more-bg.jpg);
}

.part-same h1 {
  font-size: 5vw;
  font-family: GilroyBold;
  line-height: 10vh;
}

.part-same h3 {
  font-size: 1.5vw;
  font-family: GilroyBold;
  margin-bottom: 10vh;
  margin-top: 3vh;
}

.part-same p {
  font-size: 1vw;
  font-family: GilroyBold;
  width: 45%;
}

.part-same button {
  margin-top: 5vh;
  padding: 1vw 3vw;
  font-size: 1.2vw;
  border: 1px solid #111;
  border-radius: 50px;
  font-family: GilroyBold;
  background-color: #fff;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.part-same button:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.strip {
  width: 100%;
  height: 30vh;
  border: 1px solid green;
  display: flex;
  align-items: start;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  padding: 0vw 10vw;
  gap: 5vh;
}

.strip h3 {
  font-size: 1.3vw;
}

.strip img {
  width: 80vw;
}

.part-4 {
  background-image: url(/assets/IMG/money-matters-bg.jpg);
}

/* PART 5 */
#part-5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0vw 0vw 0vw 10vw;
  height: 100vh;
  background-color: #111;
}

.lft-part-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

.scroll-txt {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8vh;
}

.lft-part-5 p {
  width: 90%;
}

.rght-part-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 20vw;
  height: 60vh;
  border-radius: 50px;
  border: 1.5vw solid #212121;
  overflow: hidden;
}

.phone-img {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 400%;
  height: 100%;
  margin-left: -7%;
}

.phone img {
  width: 20vw;
}

#scroll-2,
#scroll-3,
#scroll-4 {
  opacity: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

/* PART 6 */
.part-6 {
  height: 50vh;
  width: 100%;
  background-image: url(/assets/IMG/neopop-image-mock.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* PART 7 */
.part-7 {
  background-image: url(/assets/IMG/security-bg.jpg);
}

/* Part-8 */
.part-8 {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20vw;
  background-image: url(Assets/IMG/trust-bg.jpg);
}

.part-8 h1 {
  font-size: 3vw;
  line-height: 8vh;
}

.part-8 p {
  font-family: GilroyRegular;
}

/* PART 9 */
.part-9 {
  width: 100%;
  height: 100vh;
  background-color: #111;
  border: 1px solid green;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top-part-9 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.rating-value {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2vw;
  color: #eaeaea;
}

.rating-value h1 {
  font-size: 8vw;
  font-family: GilroyBold;
}

.rating-value h3 {
  font-size: 2.5vw;
  font-family: GilroyBold;
}

.rating img {
  width: 10vw;
}

.rating button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 0.7vw 2vw;
  border: none;
}

.rating button img {
  width: 2.5vw;
}

.rating button h3 {
  font-family: GilroyBold;
  font-size: 1.2vw;
}

.btm-part-9 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-aprt {
  width: 50vw;
  height: 30vh;
}

.slider-part {
  width: 50vw;
  height: 30vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
